<%=render "users/shared/header"%>
<div class = "admin-user-information">
  <div class = "admin-user-name">
    <%=@user.name%>
  </div>
  <div class = "admin-prefers">
    <div class = "admin-prefers-title">
      ＜希望時間帯＞
    </div>
    <div class = "admin-prefer-content">
    <%@user.prefers.each do |prefer|%>
      <div class = "admin-prefer">
        <%="#{prefer.wday}：#{prefer.time}"%>
      </div>
    <%end%>
    </div>
  </div>
  <div class = "admin-memos">
    <div class = "admin-memos-title">
      ＜備考＞<%=link_to "編集", edit_admin_user_path(@user.id), class: "admin-memo-edit"%>
    </div>
    <div class = "memo-contents">
      <div class = "user-memo-content">
        <%if @user.user_memo == "" || @user.user_memo == nil%>
          <%="ユーザーによる備考は未記入"%>
        <%else%>
          <%=@user.user_memo%>
        <%end%>
      </div>
      <div class = "admin-memo-content">
        <%if @user.admin_memo == ""%>
          <%="管理者による備考は未記入"%>
        <%else%>
          <%=@user.admin_memo%>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div class = "admin-reservation">
  ＜予約一覧＞
</div>
<div class = "all-reservation">
  <%@reservations.each do |reservation|%>
    <div class = "reservation">
      <div class = "reservation-date">
        <%=reservation.date.year%>年<%=reservation.date.month%>月<%=reservation.date.day%>日（<%=wdays[reservation.date.wday]%>）：<%=reservation.prefer.time%>
      </div>
      <div class = "reservation-delete">
        <%=link_to "削除", reservation_path(reservation.id), method: :delete, data:{confirm: "#{reservation.date.year}年#{reservation.date.month}月#{reservation.date.day}日（#{wdays[reservation.date.wday]}）：#{reservation.prefer.time}の予約を削除しますか？"}%>
      </div>
    </div>
  <%end%>
</div>