<%=render "users/shared/header"%>

<div class = "admin-username">
  ＜<%=@user.name%>さんの予約一覧＞
</div>
<div class = "all-reservation">
  <%@reservations.each do |reservation|%>
    <div class = "reservation">
      <div class = "reservation-date">
        <%=reservation.date.year%>年<%=reservation.date.month%>月<%=reservation.date.day%>日（<%=wdays[reservation.date.wday]%>）：<%=reservation.prefer.time%>
      </div>
      <div class = "reservation-delete">
        <%=link_to "削除", reservation_path(reservation.id), method: :delete, data:{confirm: "#{reservation.date.year}年#{reservation.date.month}月#{reservation.date.day}日（#{wdays[reservation.date.wday]}）：#{reservation.prefer.time}の予約を削除しますか？"}%>
      </div>
    </div>
  <%end%>
</div>