<%= render "users/shared/header"%>

<%if user_signed_in?%>
  <h2>希望日一覧</h2>
  <% @user_prefers.each do |prefer| %>
  <div>
    <%= prefer.prefer.wday + " : " + prefer.prefer.time%>
  </div>
  <%end%>

  <%= alert%>
    <div class="col-12 mt-3">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
      <% end %>
    </div>
  <%end%>