<h1>予約フォーム</h1>

<dl>
	<dt>名前</dt>
	<dd><%= current_user.name %></dd>
	<dt>希望日</dt>
	<dd><%= "#{@date.year}年#{@date.month}月#{@date.day}日" %></dd>
  <dt>時間</dt>
  <dd><%= @time %></dd>
</dl>

<%= form_for @reservation, method: :post, url: reservations_path do |form| %>
	<%= form.hidden_field :date, value: @date %>
	<%= form.hidden_field :prefer_id, value: @time_id %>
  <%= form.hidden_field :user_id, value: current_user.id%>
  <%= form.hidden_field :start_time , value: @start_time%>
  <dt>備考</dt>
	<%= form.text_field :remark , class: "reservation-remarks"%>
	<%= form.submit '送信する', class: "reservation-btn" %>
<% end %>