<%= render "users/shared/header"%>
<div class = "admin-header">
  <h1 class = "admin-header-title">管理者用ユーザー管理ページ</h1>


  <%= link_to admin_reservations_path, class: "admin-link" do%>
    <button class="admin-link-btn">予約管理ページへ</button>
  <% end %>
</div>

<table>
  <tr>
    <th class = "name-head">名前</th>
    <th>直近の予約</th>
    <th class = "edit-delete">ユーザー詳細</th>
    <th class = "edit-delete">ユーザー削除</th>
  </tr>
  <%@users.each do |user|%>
    <tr>
      <td class = "name"><%=user.name%></td>
      <td class = "next-reservation">
        <%if user.reservations.select{|item| item[:date] >= Date.today} == [] %>
          現在予約無し
        <%else%>
          <%="#{user.reservations.select{|item| item[:date] >= Date.today}.sort_by{|a| a[:date]}[0].date}：#{user.reservations.select{|item| item[:date] >= Date.today}.sort_by{|a| a[:date]}[0].prefer.time}"%>
        <%end%>
      </td>
      <td class = "text-center">
        <%=link_to admin_reservation_path(user.id) do%>
          <button class = "admin-user-btn">詳細</button>
        <%end%>
      </td>
      <td class = "text-center">
        <%=link_to admin_user_path(user.id), method: :delete, data:{confirm: "#{user.name}さんを削除しますか？"} do%>
          <button class = "admin-user-btn">削除</button>
        <%end%>
      </td>
      
    </tr>
  <%end%>
</table>

